/*
Style sheet for flask-blinkt project
Google fonts: Open Sans
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
*/

/* Global styles
---------------------------------------*/

body {
	font-family: 'Open Sans', sans-serif;
	/*font-size: 10px;*/
	/*line-height:1.5*/
}
p {
	font-size: 1rem;
}

/* Header and Footer
---------------------------------------*/

.title {
	margin-bottom: 10px;
}
.navbar {
	padding: 2px;
	display: block;
	background-color: black;
}
.navbar a {
	padding: 2px 20px 2px 0px;
	text-decoration: none;
	color: white;
	font-weight: 600;
}
